body{
  background: url(https://www.uts.edu.au/AdaptiveImages/bynder/6B78FE0B-05F4-4ED6-B7B1EBC2709E5778/Original_Image-UTS-Campus-by-day.jpg?quality=100&width=1920&height=1440&stamp=7505d037c522844212b996bdda5986fd353627cb);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
